Django==5.1.4
psycopg2-binary==2.9.10
gunicorn==23.0.0
whitenoise==6.8.2
dj-database-url==2.2.0
django-cors-headers==4.6.0
markdown==3.7
google-generativeai==0.8.3
Pillow==11.0.0
python-dotenv==1.0.1
APScheduler==3.10.4
pytz==2024.1
requests==2.32.5
